@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 420px;
}

body {
  color: #231f20;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img, svg {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* Remove annoying border on linked images. */
a img {
  border: none;
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

blockquote, q {
  quotes: "" "";
}

/* Tables still need 'cellspacing="0"' in the markup. */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

table, td, th {
  vertical-align: middle;
}

body {
  background-color: #f9fafc;
  font-family: "Inter", sans-serif;
  color: #231f20;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 81.25rem;
  box-sizing: content-box;
  margin: 0 auto;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

@supports (padding-inline: clamp( 1rem , -0.4436090226rem  +  3.007518797vw , 2rem )) {
  [class*=__container] {
    padding-inline: clamp( 1rem , -0.4436090226rem  +  3.007518797vw , 2rem );
  }
}
@supports not (padding-inline: clamp( 1rem , -0.4436090226rem  +  3.007518797vw , 2rem )) {
  [class*=__container] {
    padding-inline: calc(1rem + 1 * (100vw - 48rem) / 33.25);
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
@supports (padding-block: clamp( 0.75rem , 0.5357142857rem  +  0.5714285714vw , 1rem )) {
  .button {
    padding-block: clamp( 0.75rem , 0.5357142857rem  +  0.5714285714vw , 1rem );
  }
}
@supports not (padding-block: clamp( 0.75rem , 0.5357142857rem  +  0.5714285714vw , 1rem )) {
  .button {
    padding-block: calc(0.75rem + 0.25 * (100vw - 37.5rem) / 43.75);
  }
}
@supports (padding-inline: clamp( 1.5rem , 1.0714285714rem  +  1.1428571429vw , 2rem )) {
  .button {
    padding-inline: clamp( 1.5rem , 1.0714285714rem  +  1.1428571429vw , 2rem );
  }
}
@supports not (padding-inline: clamp( 1.5rem , 1.0714285714rem  +  1.1428571429vw , 2rem )) {
  .button {
    padding-inline: calc(1.5rem + 0.5 * (100vw - 37.5rem) / 43.75);
  }
}
@supports (height: clamp( 3rem , 2.5714285714rem  +  1.1428571429vw , 3.5rem )) {
  .button {
    height: clamp( 3rem , 2.5714285714rem  +  1.1428571429vw , 3.5rem );
  }
}
@supports not (height: clamp( 3rem , 2.5714285714rem  +  1.1428571429vw , 3.5rem )) {
  .button {
    height: calc(3rem + 0.5 * (100vw - 37.5rem) / 43.75);
  }
}
.button_grey {
  background: var(--Section-Background-Grey, #f4f5f6);
  transition: background-color 0.3s ease 0s;
}
.button_grey:hover {
  background: #ccc;
}
.button_shadowed {
  box-shadow: 0px 4px 4px 0px rgba(45, 69, 239, 0.25);
}
.button_default {
  color: var(--Lightest-Grey, #f9fafc);
  background: var(--Gradient-Blue, linear-gradient(328deg, #2d45ef 13.72%, #6c7df4 86.53%));
  position: relative;
  z-index: 1;
}
.button_default::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
  border-radius: 100px;
  background: var(--Solid-Blue, #2d45ef);
  transition: opacity 0.3s ease-out;
}
.button_default:hover::before {
  opacity: 1;
}
.button_outline {
  border: 2px solid var(--Gradient-Blue, #2d45ef);
  position: relative;
  z-index: 1;
  transition: color 0.3s ease-out;
}
.button_outline::before {
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  top: -2px;
  left: -2px;
  position: absolute;
  z-index: -1;
  opacity: 0;
  border-radius: 100px;
  background: var(--Solid-Blue, #2d45ef);
  transition: opacity 0.3s ease-out;
}
.button_outline:hover {
  color: var(--Lightest-Grey, #f9fafc);
}
.button_outline:hover::before {
  opacity: 1;
}

@supports (padding-block: clamp( 0.5rem , 0.0714285714rem  +  1.1428571429vw , 1rem )) {
  .header__wrapper {
    padding-block: clamp( 0.5rem , 0.0714285714rem  +  1.1428571429vw , 1rem );
  }
}
@supports not (padding-block: clamp( 0.5rem , 0.0714285714rem  +  1.1428571429vw , 1rem )) {
  .header__wrapper {
    padding-block: calc(0.5rem + 0.5 * (100vw - 37.5rem) / 43.75);
  }
}
.header__logo {
  display: flex;
  align-items: center;
}
@supports (width: clamp( 6.25rem , 0.1400862069rem  +  23.275862069vw , 11.3125rem )) {
  .header__logo {
    width: clamp( 6.25rem , 0.1400862069rem  +  23.275862069vw , 11.3125rem );
  }
}
@supports not (width: clamp( 6.25rem , 0.1400862069rem  +  23.275862069vw , 11.3125rem )) {
  .header__logo {
    width: calc(6.25rem + 5.0625 * (100vw - 26.25rem) / 21.75);
  }
}
.header__logo img {
  width: 100%;
}
@supports (margin-left: clamp( 0.5rem , 0.0714285714rem  +  1.1428571429vw , 1rem )) {
  .menu__item {
    margin-left: clamp( 0.5rem , 0.0714285714rem  +  1.1428571429vw , 1rem );
  }
}
@supports not (margin-left: clamp( 0.5rem , 0.0714285714rem  +  1.1428571429vw , 1rem )) {
  .menu__item {
    margin-left: calc(0.5rem + 0.5 * (100vw - 37.5rem) / 43.75);
  }
}

@supports (padding-block: clamp( 1.5rem , 0.2142857143rem  +  3.4285714286vw , 3rem )) {
  .footer__wrapper {
    padding-block: clamp( 1.5rem , 0.2142857143rem  +  3.4285714286vw , 3rem );
  }
}
@supports not (padding-block: clamp( 1.5rem , 0.2142857143rem  +  3.4285714286vw , 3rem )) {
  .footer__wrapper {
    padding-block: calc(1.5rem + 1.5 * (100vw - 37.5rem) / 43.75);
  }
}
@supports (column-gap: clamp( 1.5rem , -0.2857142857rem  +  4.7619047619vw , 2rem )) {
  .footer-menu__items {
    column-gap: clamp( 1.5rem , -0.2857142857rem  +  4.7619047619vw , 2rem );
  }
}
@supports not (column-gap: clamp( 1.5rem , -0.2857142857rem  +  4.7619047619vw , 2rem )) {
  .footer-menu__items {
    column-gap: calc(1.5rem + 0.5 * (100vw - 37.5rem) / 10.5);
  }
}
.footer-menu__item::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  left: 50%;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  background-color: #231f20;
}
.footer-menu__item:hover::before {
  width: 100%;
  left: 0;
}

.welcome {
  background: var(--Section-Background-Grey, #f4f5f6);
}
@supports (margin-inline: clamp( -2rem , 0.4436090226rem  +  -3.007518797vw , -1rem )) {
  .welcome {
    margin-inline: clamp( -2rem , 0.4436090226rem  +  -3.007518797vw , -1rem );
  }
}
@supports not (margin-inline: clamp( -2rem , 0.4436090226rem  +  -3.007518797vw , -1rem )) {
  .welcome {
    margin-inline: calc(-1rem + -1 * (100vw - 48rem) / 33.25);
  }
}
@supports (margin-bottom: clamp( 3rem , 2.0454545455rem  +  3.6363636364vw , 5rem )) {
  .welcome {
    margin-bottom: clamp( 3rem , 2.0454545455rem  +  3.6363636364vw , 5rem );
  }
}
@supports not (margin-bottom: clamp( 3rem , 2.0454545455rem  +  3.6363636364vw , 5rem )) {
  .welcome {
    margin-bottom: calc(3rem + 2 * (100vw - 26.25rem) / 55);
  }
}
@supports (border-radius: clamp( 1rem , -0.4436090226rem  +  3.007518797vw , 2rem )) {
  .welcome {
    border-radius: clamp( 1rem , -0.4436090226rem  +  3.007518797vw , 2rem );
  }
}
@supports not (border-radius: clamp( 1rem , -0.4436090226rem  +  3.007518797vw , 2rem )) {
  .welcome {
    border-radius: calc(1rem + 1 * (100vw - 48rem) / 33.25);
  }
}
@supports (padding-top: clamp( 3rem , 1.7142857143rem  +  3.4285714286vw , 4.5rem )) {
  .welcome {
    padding-top: clamp( 3rem , 1.7142857143rem  +  3.4285714286vw , 4.5rem );
  }
}
@supports not (padding-top: clamp( 3rem , 1.7142857143rem  +  3.4285714286vw , 4.5rem )) {
  .welcome {
    padding-top: calc(3rem + 1.5 * (100vw - 37.5rem) / 43.75);
  }
}
@supports (padding-bottom: clamp( 3.5rem , 1.3571428571rem  +  5.7142857143vw , 6rem )) {
  .welcome {
    padding-bottom: clamp( 3.5rem , 1.3571428571rem  +  5.7142857143vw , 6rem );
  }
}
@supports not (padding-bottom: clamp( 3.5rem , 1.3571428571rem  +  5.7142857143vw , 6rem )) {
  .welcome {
    padding-bottom: calc(3.5rem + 2.5 * (100vw - 37.5rem) / 43.75);
  }
}
@supports (padding-inline: clamp( 1.5rem , 1.0714285714rem  +  1.1428571429vw , 2rem )) {
  .welcome {
    padding-inline: clamp( 1.5rem , 1.0714285714rem  +  1.1428571429vw , 2rem );
  }
}
@supports not (padding-inline: clamp( 1.5rem , 1.0714285714rem  +  1.1428571429vw , 2rem )) {
  .welcome {
    padding-inline: calc(1.5rem + 0.5 * (100vw - 37.5rem) / 43.75);
  }
}
.welcome__title {
  line-height: 113.636%;
  letter-spacing: -1.76px;
  width: 85%;
}
@supports (font-size: clamp( 2.625rem , 0.1607142857rem  +  6.5714285714vw , 5.5rem )) {
  .welcome__title {
    font-size: clamp( 2.625rem , 0.1607142857rem  +  6.5714285714vw , 5.5rem );
  }
}
@supports not (font-size: clamp( 2.625rem , 0.1607142857rem  +  6.5714285714vw , 5.5rem )) {
  .welcome__title {
    font-size: calc(2.625rem + 2.875 * (100vw - 37.5rem) / 43.75);
  }
}
.welcome__subtitle {
  color: var(--Grey-40, #99999c);
  margin-bottom: 1.75rem;
}
@supports (font-size: clamp( 1.25rem , 1.0357142857rem  +  0.5714285714vw , 1.5rem )) {
  .welcome__subtitle {
    font-size: clamp( 1.25rem , 1.0357142857rem  +  0.5714285714vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 1.25rem , 1.0357142857rem  +  0.5714285714vw , 1.5rem )) {
  .welcome__subtitle {
    font-size: calc(1.25rem + 0.25 * (100vw - 37.5rem) / 43.75);
  }
}
@supports (max-width: clamp( 20rem , 14.6428571429rem  +  14.2857142857vw , 26.25rem )) {
  .welcome__subtitle {
    max-width: clamp( 20rem , 14.6428571429rem  +  14.2857142857vw , 26.25rem );
  }
}
@supports not (max-width: clamp( 20rem , 14.6428571429rem  +  14.2857142857vw , 26.25rem )) {
  .welcome__subtitle {
    max-width: calc(20rem + 6.25 * (100vw - 37.5rem) / 43.75);
  }
}
@supports (width: clamp( 12.5rem , 7.9871060172rem  +  17.1919770774vw , 16.25rem )) {
  .welcome__image {
    width: clamp( 12.5rem , 7.9871060172rem  +  17.1919770774vw , 16.25rem );
  }
}
@supports not (width: clamp( 12.5rem , 7.9871060172rem  +  17.1919770774vw , 16.25rem )) {
  .welcome__image {
    width: calc(12.5rem + 3.75 * (100vw - 26.25rem) / 21.8125);
  }
}
@supports (bottom: clamp( 2.25rem , 1.1638418079rem  +  2.2598870056vw , 3rem )) {
  .welcome__image {
    bottom: clamp( 2.25rem , 1.1638418079rem  +  2.2598870056vw , 3rem );
  }
}
@supports not (bottom: clamp( 2.25rem , 1.1638418079rem  +  2.2598870056vw , 3rem )) {
  .welcome__image {
    bottom: calc(2.25rem + 0.75 * (100vw - 48.0625rem) / 33.1875);
  }
}
@media (max-width: 768px) {
  @supports (bottom: clamp( 2.25rem , 11.0775862069rem  +  -18.3908045977vw , 6.25rem )) {
    .welcome__image {
      bottom: clamp( 2.25rem , 11.0775862069rem  +  -18.3908045977vw , 6.25rem );
    }
  }
  @supports not (bottom: clamp( 2.25rem , 11.0775862069rem  +  -18.3908045977vw , 6.25rem )) {
    .welcome__image {
      bottom: calc(6.25rem + -4 * (100vw - 26.25rem) / 21.75);
    }
  }
}
.welcome__image img {
  width: 100%;
}
@supports (left: clamp( -6.25rem , -20.3700564972rem  +  29.3785310734vw , 3.5rem )) {
  .welcome__image_left {
    left: clamp( -6.25rem , -20.3700564972rem  +  29.3785310734vw , 3.5rem );
  }
}
@supports not (left: clamp( -6.25rem , -20.3700564972rem  +  29.3785310734vw , 3.5rem )) {
  .welcome__image_left {
    left: calc(-6.25rem + 9.75 * (100vw - 48.0625rem) / 33.1875);
  }
}
@media (max-width: 768px) {
  .welcome__image_left {
    opacity: 0.8;
  }
  @supports (left: clamp( -8.75rem , -11.7672413793rem  +  11.4942528736vw , -6.25rem )) {
    .welcome__image_left {
      left: clamp( -8.75rem , -11.7672413793rem  +  11.4942528736vw , -6.25rem );
    }
  }
  @supports not (left: clamp( -8.75rem , -11.7672413793rem  +  11.4942528736vw , -6.25rem )) {
    .welcome__image_left {
      left: calc(-8.75rem + 2.5 * (100vw - 26.25rem) / 21.75);
    }
  }
}
@supports (right: clamp( -6.25rem , -20.3700564972rem  +  29.3785310734vw , 3.5rem )) {
  .welcome__image_right {
    right: clamp( -6.25rem , -20.3700564972rem  +  29.3785310734vw , 3.5rem );
  }
}
@supports not (right: clamp( -6.25rem , -20.3700564972rem  +  29.3785310734vw , 3.5rem )) {
  .welcome__image_right {
    right: calc(-6.25rem + 9.75 * (100vw - 48.0625rem) / 33.1875);
  }
}
@media (max-width: 768px) {
  .welcome__image_right {
    opacity: 0.8;
  }
  @supports (right: clamp( -8.75rem , -11.7672413793rem  +  11.4942528736vw , -6.25rem )) {
    .welcome__image_right {
      right: clamp( -8.75rem , -11.7672413793rem  +  11.4942528736vw , -6.25rem );
    }
  }
  @supports not (right: clamp( -8.75rem , -11.7672413793rem  +  11.4942528736vw , -6.25rem )) {
    .welcome__image_right {
      right: calc(-8.75rem + 2.5 * (100vw - 26.25rem) / 21.75);
    }
  }
}

@supports (margin-bottom: clamp( 2.25rem , 1.1761363636rem  +  4.0909090909vw , 4.5rem )) {
  .steps {
    margin-bottom: clamp( 2.25rem , 1.1761363636rem  +  4.0909090909vw , 4.5rem );
  }
}
@supports not (margin-bottom: clamp( 2.25rem , 1.1761363636rem  +  4.0909090909vw , 4.5rem )) {
  .steps {
    margin-bottom: calc(2.25rem + 2.25 * (100vw - 26.25rem) / 55);
  }
}
@supports (font-size: clamp( 2.25rem , 1.6071428571rem  +  1.7142857143vw , 3rem )) {
  .steps__title {
    font-size: clamp( 2.25rem , 1.6071428571rem  +  1.7142857143vw , 3rem );
  }
}
@supports not (font-size: clamp( 2.25rem , 1.6071428571rem  +  1.7142857143vw , 3rem )) {
  .steps__title {
    font-size: calc(2.25rem + 0.75 * (100vw - 37.5rem) / 43.75);
  }
}
.steps__subtitle {
  color: var(--Grey-40, #99999c);
  margin-bottom: 1.75rem;
}
@supports (font-size: clamp( 1.25rem , 1.0357142857rem  +  0.5714285714vw , 1.5rem )) {
  .steps__subtitle {
    font-size: clamp( 1.25rem , 1.0357142857rem  +  0.5714285714vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 1.25rem , 1.0357142857rem  +  0.5714285714vw , 1.5rem )) {
  .steps__subtitle {
    font-size: calc(1.25rem + 0.25 * (100vw - 37.5rem) / 43.75);
  }
}
.steps__cards {
  gap: 20px;
}
@media (max-width: 768px) {
  .steps__cards {
    flex-direction: column;
  }
}
.card-step {
  flex: 1 0 30%;
}
@supports (padding-inline: clamp( 1rem , -3.3105381166rem  +  8.9686098655vw , 2.25rem )) {
  .card-step {
    padding-inline: clamp( 1rem , -3.3105381166rem  +  8.9686098655vw , 2.25rem );
  }
}
@supports not (padding-inline: clamp( 1rem , -3.3105381166rem  +  8.9686098655vw , 2.25rem )) {
  .card-step {
    padding-inline: calc(1rem + 1.25 * (100vw - 48.0625rem) / 13.9375);
  }
}
@supports (padding-block: clamp( 1.5rem , -3.6726457399rem  +  10.7623318386vw , 3rem )) {
  .card-step {
    padding-block: clamp( 1.5rem , -3.6726457399rem  +  10.7623318386vw , 3rem );
  }
}
@supports not (padding-block: clamp( 1.5rem , -3.6726457399rem  +  10.7623318386vw , 3rem )) {
  .card-step {
    padding-block: calc(1.5rem + 1.5 * (100vw - 48.0625rem) / 13.9375);
  }
}
@media (max-width: 768px) {
  .card-step {
    padding-block: 12px;
  }
  @supports (padding-inline: clamp( 2rem , -2.224137931rem  +  16.091954023vw , 5.5rem )) {
    .card-step {
      padding-inline: clamp( 2rem , -2.224137931rem  +  16.091954023vw , 5.5rem );
    }
  }
  @supports not (padding-inline: clamp( 2rem , -2.224137931rem  +  16.091954023vw , 5.5rem )) {
    .card-step {
      padding-inline: calc(2rem + 3.5 * (100vw - 26.25rem) / 21.75);
    }
  }
}
@supports (margin-bottom: clamp( 1.5rem , -0.2242152466rem  +  3.5874439462vw , 2rem )) {
  .card-step__image {
    margin-bottom: clamp( 1.5rem , -0.2242152466rem  +  3.5874439462vw , 2rem );
  }
}
@supports not (margin-bottom: clamp( 1.5rem , -0.2242152466rem  +  3.5874439462vw , 2rem )) {
  .card-step__image {
    margin-bottom: calc(1.5rem + 0.5 * (100vw - 48.0625rem) / 13.9375);
  }
}
@supports (height: clamp( 5rem , -8.7937219731rem  +  28.6995515695vw , 9rem )) {
  .card-step__image {
    height: clamp( 5rem , -8.7937219731rem  +  28.6995515695vw , 9rem );
  }
}
@supports not (height: clamp( 5rem , -8.7937219731rem  +  28.6995515695vw , 9rem )) {
  .card-step__image {
    height: calc(5rem + 4 * (100vw - 48.0625rem) / 13.9375);
  }
}
@media (max-width: 768px) {
  .card-step__image {
    height: 144px;
  }
}
.card-step__image img {
  height: 100%;
}
@supports (font-size: clamp( 1.25rem , 1.0357142857rem  +  0.5714285714vw , 1.5rem )) {
  .card-step__title {
    font-size: clamp( 1.25rem , 1.0357142857rem  +  0.5714285714vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 1.25rem , 1.0357142857rem  +  0.5714285714vw , 1.5rem )) {
  .card-step__title {
    font-size: calc(1.25rem + 0.25 * (100vw - 37.5rem) / 43.75);
  }
}
.card-step__descr {
  color: var(--Grey-40, #99999c);
}
.card-step__arrow {
  right: 0;
  transform: translate(calc(50% + 10px), -50%);
}
@supports (top: clamp( 4rem , -8.0695067265rem  +  25.1121076233vw , 7.5rem )) {
  .card-step__arrow {
    top: clamp( 4rem , -8.0695067265rem  +  25.1121076233vw , 7.5rem );
  }
}
@supports not (top: clamp( 4rem , -8.0695067265rem  +  25.1121076233vw , 7.5rem )) {
  .card-step__arrow {
    top: calc(4rem + 3.5 * (100vw - 48.0625rem) / 13.9375);
  }
}
@supports (width: clamp( 9.25rem , -9.5506921824rem  +  30.2931596091vw , 15.0625rem )) {
  .card-step__arrow {
    width: clamp( 9.25rem , -9.5506921824rem  +  30.2931596091vw , 15.0625rem );
  }
}
@supports not (width: clamp( 9.25rem , -9.5506921824rem  +  30.2931596091vw , 15.0625rem )) {
  .card-step__arrow {
    width: calc(9.25rem + 5.8125 * (100vw - 62.0625rem) / 19.1875);
  }
}
@media (max-width: 992px) {
  @supports (width: clamp( 8.25rem , 4.8015695067rem  +  7.1748878924vw , 9.25rem )) {
    .card-step__arrow {
      width: clamp( 8.25rem , 4.8015695067rem  +  7.1748878924vw , 9.25rem );
    }
  }
  @supports not (width: clamp( 8.25rem , 4.8015695067rem  +  7.1748878924vw , 9.25rem )) {
    .card-step__arrow {
      width: calc(8.25rem + 1 * (100vw - 48.0625rem) / 13.9375);
    }
  }
}
@media (max-width: 768px) {
  .card-step__arrow {
    width: fit-content;
    top: 0;
    rotate: 90deg;
    opacity: 0.5;
  }
}
.card-step__arrow img {
  width: 100%;
}

@media (max-width: 768px) {
  .steps__card:nth-child(1) .card-step__arrow {
    transform-origin: top left;
    transform: translate(45%, 0);
    right: unset;
  }
  @supports (left: clamp( 1.5rem , -2.724137931rem  +  16.091954023vw , 5rem )) {
    .steps__card:nth-child(1) .card-step__arrow {
      left: clamp( 1.5rem , -2.724137931rem  +  16.091954023vw , 5rem );
    }
  }
  @supports not (left: clamp( 1.5rem , -2.724137931rem  +  16.091954023vw , 5rem )) {
    .steps__card:nth-child(1) .card-step__arrow {
      left: calc(1.5rem + 3.5 * (100vw - 26.25rem) / 21.75);
    }
  }
  .steps__card:nth-child(2) .card-step__arrow {
    scale: 1 -1;
    transform-origin: top right;
    transform: translate(145%, 0);
  }
  @supports (right: clamp( 1.5rem , -2.724137931rem  +  16.091954023vw , 5rem )) {
    .steps__card:nth-child(2) .card-step__arrow {
      right: clamp( 1.5rem , -2.724137931rem  +  16.091954023vw , 5rem );
    }
  }
  @supports not (right: clamp( 1.5rem , -2.724137931rem  +  16.091954023vw , 5rem )) {
    .steps__card:nth-child(2) .card-step__arrow {
      right: calc(1.5rem + 3.5 * (100vw - 26.25rem) / 21.75);
    }
  }
}
@supports (margin-bottom: clamp( 1rem , -3.3446327684rem  +  9.0395480226vw , 4rem )) {
  .prioritize {
    margin-bottom: clamp( 1rem , -3.3446327684rem  +  9.0395480226vw , 4rem );
  }
}
@supports not (margin-bottom: clamp( 1rem , -3.3446327684rem  +  9.0395480226vw , 4rem )) {
  .prioritize {
    margin-bottom: calc(1rem + 3 * (100vw - 48.0625rem) / 33.1875);
  }
}
@supports (gap: clamp( 1rem , -0.4482109228rem  +  3.0131826742vw , 2rem )) {
  .prioritize {
    gap: clamp( 1rem , -0.4482109228rem  +  3.0131826742vw , 2rem );
  }
}
@supports not (gap: clamp( 1rem , -0.4482109228rem  +  3.0131826742vw , 2rem )) {
  .prioritize {
    gap: calc(1rem + 1 * (100vw - 48.0625rem) / 33.1875);
  }
}
@media (max-width: 768px) {
  .prioritize {
    flex-direction: column;
  }
}
.prioritize__image {
  border-radius: 16px;
  background: #f4f5f6;
  flex: 1 1 auto;
}
@supports (padding-inline: clamp( 1.5rem , -1.0343691149rem  +  5.2730696798vw , 3.25rem )) {
  .prioritize__image {
    padding-inline: clamp( 1.5rem , -1.0343691149rem  +  5.2730696798vw , 3.25rem );
  }
}
@supports not (padding-inline: clamp( 1.5rem , -1.0343691149rem  +  5.2730696798vw , 3.25rem )) {
  .prioritize__image {
    padding-inline: calc(1.5rem + 1.75 * (100vw - 48.0625rem) / 33.1875);
  }
}
@supports (padding-block: clamp( 2.25rem , -1.0084745763rem  +  6.7796610169vw , 4.5rem )) {
  .prioritize__image {
    padding-block: clamp( 2.25rem , -1.0084745763rem  +  6.7796610169vw , 4.5rem );
  }
}
@supports not (padding-block: clamp( 2.25rem , -1.0084745763rem  +  6.7796610169vw , 4.5rem )) {
  .prioritize__image {
    padding-block: calc(2.25rem + 2.25 * (100vw - 48.0625rem) / 33.1875);
  }
}
@media (max-width: 768px) {
  .prioritize__image {
    width: 70%;
    margin: 0 auto;
  }
}
.prioritize__image img {
  width: 100%;
}
.prioritize__text {
  flex: 1 0;
}
@supports (flex-basis: clamp( 31.25rem , 19.4832862524rem  +  24.4821092279vw , 39.375rem )) {
  .prioritize__text {
    flex-basis: clamp( 31.25rem , 19.4832862524rem  +  24.4821092279vw , 39.375rem );
  }
}
@supports not (flex-basis: clamp( 31.25rem , 19.4832862524rem  +  24.4821092279vw , 39.375rem )) {
  .prioritize__text {
    flex-basis: calc(31.25rem + 8.125 * (100vw - 48.0625rem) / 33.1875);
  }
}
@media (max-width: 768px) {
  .prioritize__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-basis: auto;
  }
}
@supports (font-size: clamp( 1.5rem , 1.0714285714rem  +  1.1428571429vw , 2rem )) {
  .prioritize__title {
    font-size: clamp( 1.5rem , 1.0714285714rem  +  1.1428571429vw , 2rem );
  }
}
@supports not (font-size: clamp( 1.5rem , 1.0714285714rem  +  1.1428571429vw , 2rem )) {
  .prioritize__title {
    font-size: calc(1.5rem + 0.5 * (100vw - 37.5rem) / 43.75);
  }
}
.prioritize__descr {
  color: #878787;
}
